<?xml version='1.0'?>
<settings>
  <Subreddit blacklisted="false" LinkBlacklisted="false" Description="Cute pictures of cute things">/r/aww</Subreddit>
  <Subreddit blacklisted="false" LinkBlacklisted="false" Description="A place for photography">/r/pics</Subreddit>
  <Subreddit blacklisted="false" LinkBlacklisted="false" Description="PC is superior.">/r/pcmasterrace</Subreddit>
  <Subreddit blacklisted="false" LinkBlacklisted="false" Description="For the beliefs of our Gods">/r/religion</Subreddit>
  <Subreddit blacklisted="false" LinkBlacklisted="false" Desctiption="An atheist forum">/r/atheism</Subreddit>
  <Subreddit blacklisted="false" LinkBlacklisted="false" Description="wow much subreddit">/r/doge</Subreddit>
  <Subreddit blacklisted="false" LinkBlacklisted="false" Description="News from the world around">/r/worldnews</Subreddit>

  <Subreddit blacklisted="true" LinkBlacklisted="false">/r/politics</Subreddit>
  <Subreddit blacklisted="true" LinkBlacklisted="true">/r/politicbot</Subreddit>
  <Subreddit blacklisted="true" LinkBlacklisted="true">/r/RemovedComments</Subreddit>
  <Subreddit blacklisted="true" LinkBlacklisted="false">/r/gcdeletes</Subreddit>
</settings>
